#Robot ClassType
Hand

# wide range of motion and forces

# this uses the compliant dof where the coupling is decided by both torque and stiffness ratios
# the original harvard (i think) has a ratio in free movement of d_distal = 0.6 * d_proximal

# the proximal stifness we keep fixed at 1600 to resist gravity. We play with distal stiffness
# also fixed as it is arbitrary is the proximal ratio, at 1.0 We play with the distal coupling

# the movement ratio is actually complicated, as the distal spring also applies torque on the 
# proximal link. See notebook for computations. Right now we assume free movement ratio at 0.6

# I have also set the upper limit on the distal joints to 40 degrees so it gets hit just a little
# bit before the limit for the proximal joint

#Palm Description (considered a link)
#filename material lastJoint
#(lastJoint is -1 since the palm is not affected by any joint)
palm.iv plastic -1

#DOF
1

#efforts here for now are in forces, not torques. assume link length of approx 80mm
#DOF default velocities for auto grasp and max effort in N or Nm
#with max effort of 6.0e+07 the dof can not really close fingers all the way
#with 2 times that, there should be plenty of excess force to be applied through contacts
c 1.0 1.2e+8 4.5e+9 4.5e+5 20

#Number of fingers
4

#-----------------------------------f0-----------------------------------------
#number of joints
2

#number of links
2

#Transforms from palm origin to base of the finger
#EXAMPLE
#r 90 x (rotation by 90 degrees about x axis)
#rr 3.0368729 y (rotation by 3.0368729 radians about y axis)
#t 1.92188 134.5 39.0717 (translation in mm)
t 0 11 38.1

#Joint Descriptions (1 joint per line)
#theta d a alpha DOFminval DOFmaxval
#(joints are ordered from closest to palm outward)
#(linear equations are of the form: q#*k+c [no spaces!])
#(coupled joints must come after joints they are coupled to)
#spring stifness is in N or Nmm

d0+-65	0 80.57536	0  -30 170 5.0e+7 0 1600
d0*0.6+45 	0 80.57536 	0  -30 120 5.0e+7 0 1000

#Link Descriptions (1 link per line)
#filename material lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
proximal.wrl 0
Revolute
distal.wrl 1

#-----------------------------------f1-----------------------------------------
#number of joints
2

#number of links
2

#Transforms from palm origin to base of the finger
#EXAMPLE
#r 90 x (rotation by 90 degrees about x axis)
#rr 3.0368729 y (rotation by 3.0368729 radians about y axis)
#t 1.92188 134.5 39.0717 (translation in mm)
t 0 -11 12.7
r 180 y
r 180 z

#Joint Descriptions (1 joint per line)
#theta d a alpha DOFminval DOFmaxval
#(joints are ordered from closest to palm outward)
#(linear equations are of the form: q#*k+c [no spaces!])
#(coupled joints must come after joints they are coupled to)
#d0+90 0 50 -90 0 180 5.0e+7
#spring stifness is in N or Nmm

d0+-65	0 80.57536 	0  -30 170 5.0e+7 0 1600
d0*0.6+45 	0 80.57536 	0  -30 120 5.0e+7 0 1000

#Link Descriptions (1 link per line)
#filename material lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
proximal.wrl 0
Revolute
distal.wrl 1

#-----------------------------------f2-----------------------------------------
#number of joints
2

#number of links
2

#Transforms from palm origin to base of the finger
#EXAMPLE
#r 90 x (rotation by 90 degrees about x axis)
#rr 3.0368729 y (rotation by 3.0368729 radians about y axis)
#t 1.92188 134.5 39.0717 (translation in mm)
t 0 11 -12.7

#Joint Descriptions (1 joint per line)
#theta d a alpha DOFminval DOFmaxval
#(joints are ordered from closest to palm outward)
#(linear equations are of the form: q#*k+c [no spaces!])
#(coupled joints must come after joints they are coupled to)
#spring stifness is in N or Nmm

d0+-65	0 80.57536 	0  -30 170 5.0e+7 0 1600
d0*0.6+45 	0 80.57536 	0  -30 120 5.0e+7 0 1000

#Link Descriptions (1 link per line)
#filename material lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
proximal.wrl 0
Revolute
distal.wrl 1

#-----------------------------------f3-----------------------------------------
#number of joints
2

#number of links
2

#Transforms from palm origin to base of the finger
#EXAMPLE
#r 90 x (rotation by 90 degrees about x axis)
#rr 3.0368729 y (rotation by 3.0368729 radians about y axis)
#t 1.92188 134.5 39.0717 (translation in mm)
t 0 -11 -38.1
r 180 y
r 180 z

#Joint Descriptions (1 joint per line)
#theta d a alpha DOFminval DOFmaxval
#(joints are ordered from closest to palm outward)
#(linear equations are of the form: q#*k+c [no spaces!])
#(coupled joints must come after joints they are coupled to)
#d0+90 0 50 -90 0 180 5.0e+7
#spring stifness is in N or Nmm

d0+-65	0 80.57536 	0  -30 170 5.0e+7 0 1600
d0*0.6+45 	0 80.57536  0  -30 120 5.0e+7 0 1000

#Link Descriptions (1 link per line)
#filename material lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
proximal.wrl 0
Revolute
distal.wrl 1

#this is a pre-specified approach direction for looking for good grasps. First comes a reference point on the palm, then a direction
Approach
0 0 0
1 0 0
