#Robot ClassType
Barrett

#Palm Description (considered a link)
#filename
palm.iv

#DOF
4

#note that 3 dofs are of type "b" for break-away
#for each DOF:
#type -- default_velocities_for_auto_grasp -- max_effort -- Kp -- Kd -- dragger_scale
#for break away dofs, also breakaway_torque_in_Nm
r 0.0 5.0e+10 1.0e+11 1.0e+7 20
b 1.0 2.5e+9 1.0e+11 1.0e+7 20 0.5
b 1.0 2.5e+9 1.0e+11 1.0e+7 20 0.5
b 1.0 5.0e+9 1.0e+11 1.0e+7 20 0.5

#Number of fingers
3

#-----------------------------------f0-----------------------------------------
#number of joints
3

#number of links
3

#Transforms from palm origin to base of the finger
#EXAMPLE:
#r 90 x (rotation by 90 degrees about x axis)
#rr 3.0368729 y (rotation by 3.0368729 radians about y axis)
#t 1.92188 134.5 39.0717 (translation in mm)
t 25.0 0 -1.0
r 180 y

#Joint Descriptions (1 joint per line)
#(joints are ordered from closest to palm outward)
#(linear equations are of the form: q#*k+c [no spaces!])
#(coupled joints must come after joints they are coupled to)
#theta 		d a 	alpha minval maxval	viscous_friction
d0+90 		0 50	-90 	0 	180 		5.0e+7
d1+5 			0 70 	0 	0 	144 		5.0e+7
d1*0.333333333+40 0 55 	0 	0	144 		5.0e+7

#Link Descriptions (1 link per line)
#filename lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
link1.iv 0
Revolute
link2.iv 1
Revolute
link3.iv 2

#-----------------------------------f1----------------------------------------
#number of joints
3

#number of links
3

#Transforms from palm origin to base of the finger
#EXAMPLE:
#r 90 x (rotation by 90 degrees about x axis)
#rr 3.0368729 y (rotation by 3.0368729 radians about y axis)
#t 1.92188 134.5 39.0717 (translation in mm)
t -25.0 0 -1.0

#Joint Descriptions (1 joint per line)
#(joints are ordered from closest to palm outward)
#(linear equations are of the form: q#*k+c [no spaces!])
#(coupled joints must come after joints they are coupled to)
#theta 		d a 	alpha	minval	maxval	viscous_friction
d0+90 		0 50 	90 	0 		180 		5.0e+7
d2+5 			0 70 	0 	0 		144 		5.0e+7
d2*0.333333333+40 0 55 	0 	0 		144 		5.0e+7

#Link Descriptions (1 link per line)
#filename lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
link1.iv 0
Revolute
link2.iv 1
Revolute
link3.iv 2

#-----------------------------------f2-----------------------------------------
#number of joints
2

#number of links
2

#Transforms from palm origin to base of the finger
#EXAMPLE:
#r 90 x (rotation by 90 degrees about x axis)
#rr 3.0368729 y (rotation by 3.0368729 radians about y axis)
#t 1.92188 134.5 39.0717 (translation in mm)
#
#r 180 y
#r -90 x

t 0 -50.0 -1.0
r -90 y
r -90 z

#Joint Descriptions (1 joint per line)
#(joints are ordered from closest to palm outward)
#(linear equations are of the form: q#*k+c [no spaces!])
#(coupled joints must come after joints they are coupled to)
#theta 		d a 	alpha	minval	maxval	viscous_friction
d3+5 			0 70 	0 	0 		144 		5.0e+7
d3*0.333333333+40 0 55 	0 	0 		144 		5.0e+7

#Link Descriptions (1 link per line)
#filename lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
link2.iv 0
Revolute
link3.iv 1

#-----------------------------------optional information-------------------

#EigenGrasp information, followed (on the NEXT line) by eigenGrasp file name
#comment out the following line to disable eigen grasps
EigenGrasps
eigen/barrett_eigen.egr

#Flock of Birds information followed immediately (on the NEXT line) by bird number
FlockOfBirds
1
#transform from base origin to sensor mounting position, for case when sensor is mounted on hand
t 0.0 -60 -35
r 90 z
r 30 y
#simpler transform, just for simulation without the actual hand
#t 0 0 -85

#this is a pre-specified approach direction for looking for good grasps. First comes a reference point on the palm, then a direction
Approach
0 0 0
0 0 1

#Pre-defined "virtual" contacts for this hand
VirtualContacts
virtual/all_16_contacts.vgr
