#Robot ClassType
Robonaut

# A simplified version of the Robonaut hand with
# only 13 DOF and different fingertips (taken from the Shadow Hand)

#Palm Description (considered a link)
simplified/right_palm.iv

#DOF
13

#for each DOF:
#type -- default_velocities_for_auto_grasp -- max_effort -- Kp -- Kd -- dragger_scale
r 0.0  2.4e+9 2.4e+10 0.9e+7 10
r 1.0  2.4e+9 2.4e+10 0.9e+7 10
r 1.0  0.5e+8 0.5e+9 0.3e+6 10

r 0.0  2.4e+9 2.4e+10 0.9e+7 10
r 1.0  2.4e+9 2.4e+10 0.9e+7 10
r 1.0  1.0e+9 1.0e+10 0.9e+7 10

r 0.0  2.4e+9 2.4e+10 0.9e+7 10
r 1.0  2.4e+9 2.4e+10 0.9e+7 10
r 1.0  1.4e+9 1.4e+10 0.9e+7 10

r 1.0  2.4e+9 2.4e+10 0.9e+7 10
r 1.0  1.4e+9 1.4e+10 0.9e+7 10

r 1.0  2.4e+9 2.4e+10 0.9e+7 10
r 1.0  1.4e+9 1.4e+10 0.9e+7 10

#Number of fingers
5
#-----------------------------------f0-----------------------------------------
#number of joints
3

#number of links
3

#Transforms from palm origin to base of the finger
t 46.183982 -26.490473 5.890768
R
0.561070 -0.820276 -0.111118
0.145778 0.230056 -0.962197 
0.814831  0.523661 0.248656

#Joint Descriptions (1 joint per line)
#theta d a alpha min max
#(joints are ordered from closest to palm outward)
#(d# indicates DOF that this joint is connected to)
#(linear equations are of the form: d#*k+c [no spaces!])
d0      0  6.35   90 -60 5
d1      0 46.8376  0 -30 85
d2      0  0       0  0 75

#Link Descriptions (1 link per line)
#filename material lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
simplified/tyoke_sim.iv 0
Revolute
simplified/thumbphl.iv 1
Revolute
simplified/shadow_f_th_distal.iv 2

#-----------------------------------f1-----------------------------------------
#number of joints
4

#number of links
4

#Transforms from palm origin to base of the finger
t 87.883873 -27.044726 -16.619068
R
0.997205 -0.074709 0.000000
0.074425 0.993411 -0.087156
0.006511 0.086912 0.996195

#Joint Descriptions (1 joint per line)
#theta d a alpha min max
#(joints are ordered from closest to palm outward)
#(d# indicates DOF that this joint is connected to)
#(linear equations are of the form: d#*k+c [no spaces!])
d3     0  8.0518 90 -20 10
d4+-5.9 0 45.72    0 -10 85
d5     0 26.67    0   0 85
d5+5.9 0  0       0   0 85

#Link Descriptions (1 link per line)
#filename material lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
simplified/yoke2_sim.iv 0
Revolute
simplified/pph3l.iv 1
Revolute
simplified/mph4_sim.iv 2
Revolute
simplified/shadow_f_distal.iv 3

#-----------------------------------f2-----------------------------------------
#number of joints
4

#number of links
4

#Transforms from palm origin to base of the finger
t 87.99289 -2.454097 -16.587521
R
0.999943 -0.010702 0.000000
0.010701 0.999790 0.017452
-0.000187 -0.017451 0.999848

#Joint Descriptions (1 joint per line)
#theta d a alpha min max
#(joints are ordered from closest to palm outward)
#(d# indicates DOF that this joint is connected to)
#(linear equations are of the form: d#*k+c [no spaces!])
d6     0  8.0518 90 -20 10
d7+-5.9 0 45.72   0  -10 85
d8     0 26.67   0    0 85
d8+5.9 0  0      0    0 85

#Link Descriptions (1 link per line)
#filename material lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
simplified/yoke2_sim.iv 0
Revolute
simplified/pph3l.iv 1
Revolute
simplified/mph4_sim.iv 2
Revolute
simplified/shadow_f_distal.iv 3

#-----------------------------------f3-----------------------------------------
#number of joints
3

#number of links
3

#Transforms from palm origin to base of the finger
t 114.90731 -81.002175 -27.312264
R
0.173619 0.025764 0.984476
-0.818652 -0.551893 0.158818
0.547417 -0.833517 -0.074727
t 10.287 0 0
r -20.3269 x

#Joint Descriptions (1 joint per line)
#theta d a alpha min max
#(joints are ordered from closest to palm outward)
#(d# indicates DOF that this joint is connected to)
#(linear equations are of the form: d#*k+c [no spaces!])
d9+-86.3 -103.9876 40.6908  0    0 85
d10+0.71    0       26.67    0    0 85
d10+5.95    0        0       0    0 85

#Link Descriptions (1 link per line)
#filename material lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
simplified/pph3_5th.iv 0
Revolute
simplified/mph4_sim.iv 1
Revolute
simplified/shadow_f_distal.iv 2

#-----------------------------------f4-----------------------------------------
#number of joints
3

#number of links
3

#Transforms from palm origin to base of the finger
t 157.7787 -146.27967 -33.164526
R
0.229772 0.063839 0.971148
-0.804698 -0.548793 0.226466
0.547417 -0.833517 -0.074727
t 13.487 0 0
r -12.89 x

#Joint Descriptions (1 joint per line)
#theta d a alpha min max
#(joints are ordered from closest to palm outward)
#(d# indicates DOF that this joint is connected to)
#(linear equations are of the form: d#*k+c [no spaces!])
d11+-82.5 -200.2536  40.6908    0    0 85
d12+0.71     0       26.67      0    0 85
d12+5.95     0        0         0    0 85

#Link Descriptions (1 link per line)
#filename material lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
simplified/pph3_5th.iv 0
Revolute
simplified/mph4_sim.iv 1
Revolute
simplified/shadow_f_distal.iv 2

#EigenGrasp information, followed (on the NEXT line) by eigenGrasp file name
#comment out the following line to disable eigen grasps
EigenGrasps
eigen/robonaut_13DOF.egr

#------------- Flock of Birds -----------
FlockOfBirds
1
#transform from base origin to sensor mounting location
t 50.0 0.0 -30.0
R
 1.0  0.0  0.0
 0.0  1.0  0.0
 0.0  0.0  1.0

#this is a pre-specified approach direction for looking for good grasps. First comes a reference point on the palm, then a direction
Approach
80 0 0
0.3 0 1
