#Robot ClassType
Robonaut

#Palm filename (considered a link)
right_palm.iv

#number of DOFs
14

#for each DOF:
#type default_velocities_for_auto_grasp max_effort_in_N*1.0e6_or_Nmm*1.0e6 dragger_scale
r 0.0  5.0e+9 1.0e+10 1.0e+7 10
r 1.0  5.0e+9 1.0e+10 1.0e+7 10
r 1.0  5.0e+9 1.0e+10 1.0e+7 10
r 0.0  5.0e+9 1.0e+10 1.0e+7 10
r 1.0  5.0e+9 1.0e+10 1.0e+7 10
r 1.0  5.0e+9 1.0e+10 1.0e+7 10
r 0.0  5.0e+9 1.0e+10 1.0e+7 10
r 1.0  5.0e+9 1.0e+10 1.0e+7 10
r 1.0  5.0e+9 1.0e+10 1.0e+7 10
r 1.0  5.0e+9 1.0e+10 1.0e+7 10
r 1.0  5.0e+9 1.0e+10 1.0e+7 10
r 1.0  5.0e+9 1.0e+10 1.0e+7 10
r 1.0  5.0e+9 1.0e+10 1.0e+7 10
r 1.0  5.0e+9 1.0e+10 1.0e+7 10

#Number of fingers
5

#-----------------------------------f0-----------------------------------------
#number of joints
3

#number of links
3

#Transforms from palm origin to base of the finger
t 46.183982 -26.490473 5.890768
R
0.561070 -0.820276 -0.111118
0.145778 0.230056 -0.962197 
0.814831  0.523661 0.248656

#Joint Descriptions (1 joint per line)
#(joints are ordered from closest to palm outward)
#(d# indicates DOF that this joint is connected to)
#(linear equations are of the form: d#*k+c [no spaces!])
#theta  d  a     alpha min max
d0      0  6.35   90   -60 5
d1+8.9  0 46.8376  0   -30 85
d2      0  0       0    0 75

#Link Descriptions (1 link per line)
#filenamelastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
tyoke.iv 0
Revolute
thumbphl.iv 1
Revolute
thdph1.iv 2

#-----------------------------------f1-----------------------------------------
#number of joints
4

#number of links
4

#Transforms from palm origin to base of the finger
t 87.883873 -27.044726 -16.619068
R
0.997205 -0.074709 0.000000
0.074425 0.993411 -0.087156
0.006511 0.086912 0.996195


#Joint Descriptions (1 joint per line)
#(joints are ordered from closest to palm outward)
#(d# indicates DOF that this joint is connected to)
#(linear equations are of the form: d#*k+c [no spaces!])
#theta	d	a		alpha	min	max
d3     	0	8.0518	90 	-20 	10
d4+-5.9	0	45.72    	0 	-10 	85
d5     	0	26.67    	0   	0 	85
d5+5.9 	0	0       	0  	0 	85

#Link Descriptions (1 link per line)
#filename lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
yoke2.iv 0
Revolute
pph3l.iv 1
Revolute
mph4.iv 2
Revolute
bph3.iv 3

#-----------------------------------f2-----------------------------------------
#number of joints
4

#number of links
4

#Transforms from palm origin to base of the finger
t 87.99289 -2.454097 -16.587521
R
0.999943 -0.010702 0.000000
0.010701 0.999790 0.017452
-0.000187 -0.017451 0.999848

#Joint Descriptions (1 joint per line)
#(joints are ordered from closest to palm outward)
#(d# indicates DOF that this joint is connected to)
#(linear equations are of the form: d#*k+c [no spaces!])
#theta	d	a		alpha	min	max
d6     	0	8.0518 	90	-20	10
d7+-5.9	0	45.72		0	-10	85
d8		0 	26.67		0	0	85
d8+5.9	0	0		0	0	85

#Link Descriptions (1 link per line)
#filename lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
yoke2.iv 0
Revolute
pph3l.iv 1
Revolute
mph4.iv 2
Revolute
bph3.iv 3

#-----------------------------------f3-----------------------------------------
#number of joints
4

#number of links
4

#Transforms from palm origin to base of the finger
t 114.90731 -81.002175 -27.312264
R
0.173619 0.025764 0.984476
-0.818652 -0.551893 0.158818
0.547417 -0.833517 -0.074727

#Joint Descriptions (1 joint per line)
#(joints are ordered from closest to palm outward)
#(d# indicates DOF that this joint is connected to)
#(linear equations are of the form: d#*k+c [no spaces!])
#theta	d		a		alpha		min	max
d9*0.5      0       	10.287  	-20.3269 	0 	30
d10+-86.3 	-103.9876 	40.6908  	0    		0 	85
d11+0.71    0       	26.67    	0    		0 	85
d11+5.95    0        	0       	0    		0 	85

#Link Descriptions (1 link per line)
#filename material lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
pmetaf_r_ring.iv 0
Revolute
pph3_5th.iv 1
Revolute
mph4.iv 2
Revolute
bph3.iv 3

#-----------------------------------f4-----------------------------------------
#number of joints
4

#number of links
4

#Transforms from palm origin to base of the finger
t 157.7787 -146.27967 -33.164526
R
0.229772 0.063839 0.971148
-0.804698 -0.548793 0.226466
0.547417 -0.833517 -0.074727


#Joint Descriptions (1 joint per line)
#(joints are ordered from closest to palm outward)
#(d# indicates DOF that this joint is connected to)
#(linear equations are of the form: d#*k+c [no spaces!])
#theta 	 d 	     a       alpha min max
d9           0       13.4874  -12.89 0 30
d12+-82.5 -200.2536  40.6908    0    0 85
d13+0.71     0       26.67      0    0 85
d13+5.95     0        0         0    0 85

#Link Descriptions (1 link per line)
#filename material lastJoint
#(links are ordered from closest to palm outward)
#(lastJoint is the last joint in the chain which can affect this link)
Revolute
pmetaf_r_pink.iv 0
Revolute
pph3_5th.iv 1
Revolute
mph4.iv 2
Revolute
bph3.iv 3

#-----------------------------------optional information--------------------

#Flock of Birds information
FlockOfBirds
#transform from base origin to sensor mounting position
t 45.0 0.0 -35.0

#EigenGrasp information, followed (on the NEXT line) by eigenGrasp file name 
#comment out the following line to disable eigen grasps
EigenGrasps
eigen/robonaut_eigen.egr
